/* General Reset */
body, h1, h2, p, a, input, img, select, button {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body Styling */
body {
    font-family: Arial, sans-serif;
    background-color: #f8e9f1; /* Light pink background */
    color: #333;
}

/* Header Styling */
header {
    background-color: #000; /* Black background */
    color: white;
    padding: 10px 20px;
}

/* Main Navigation Styling */
.main-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}

.nav-left h1 {
    font-size: 1.5rem;
}

.nav-center input[type="search"] {
    width: 300px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ddd;
}

.nav-right a {
    margin-left: 20px;
    color: white;
    text-decoration: none;
}

.nav-right a:hover {
    text-decoration: underline;
}

/* Sub Navigation Styling */
.sub-nav {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 10px 0;
    background-color: #000; /* Black background */
    flex-wrap: wrap;
}

.sub-nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.sub-nav a:hover {
    text-decoration: underline;
}

/* dashboard styling */ 
#welcome {
    text-align: center;
}

#trademark {
    font-weight: italic; 
    font-size: 45px;
    text-align: center; 
    margin-top: 45px; 
}

#banner {
    height: 25px;               /* Height of the line/block */
    background-color: #5c5c5c;    /* Color of the line/block */
    width: 100%;                /* Set the width of the line */
    margin: 225px auto;         /* Center the line and add space above/below */
}

#text {
    text-align: center;
    color: white; 
    font-size: 20px;
}
  

.grid-item a:hover {
    text-decoration: underline; 
} 
